#footer{
    margin-top: 35%;
    padding: 20px;
    color:#fff;
    background: #333;
}

button {

    margin-top: 23px;
    font-size: 80px;

}

// body {
//     background-image: url("images/rocket.jpg");
// }